.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.backToHome {
    margin: 3rem 0 0;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.home {
    margin-right: 20px;
}

.navbar {
    margin-left: 10px;
}

.disc {
    color: rgb(143, 143, 143);
}

.logo {
    left: 0;
    top: 0;
    /* position: relative; */
}

.logo_hover {
    /* transition: 5s ease; */
    opacity: 0%;
    /* left: 0; */
}

.logo_base {
    opacity: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

@media (min-width: 1200px) {
    .logo {
        position: relative;
    }

    .logo .logo_base {
        transition: 2s ease-in;
        opacity: 100%;
        left: 0;
        position: absolute;
    }

    .logo .logo_hover {
        transition: 2s ease-in;
        opacity: 0%;
        left: 0;
    }

    .logo:hover .logo_base {
        transition: 0.5s ease-in-out 1.0s;
        opacity: 0%;
    }

    .logo:hover .logo_hover {
        transition: 0.5s ease-in-out 1.0s;
        opacity: 69%;
    }

    /* .logo_base:hover {
        transition: opacity 1s ease-in-out;
        opacity: 0%;
        background-image: url("../public/website_logo.svg");
        max-height: 34px;
        max-width: 100%;
    } */

}