@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  /* font-size: 18px; */
  color: rgb(20, 20, 20);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

ul ul {
  position: relative;
  margin: 0;
  padding-left: 1.75rem; 
}

ul ul li {
  margin-top: 0.8rem;
}


a:hover::before {
  height: 100%;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0.8rem 0;
}

blockquote {
  margin: 1rem 0px;
  padding: 15px;
  background: rgb(243, 243, 243);
  color: #747474;
  border-radius: 5px;
}

blockquote p {
  margin: 0;
  padding: 7px;
}

blockquote div.body {
  color: rgb(80, 80, 80);
  border-radius: 5px;
  background-color: rgb(232, 232, 232);
  margin: 0.3rem;
  padding: 0.7rem 0.7rem;
}


blockquote p.ref {
  font-weight: 500;
}

@media (min-width: 1200px) {
  blockquote a {
    color: #747474;
  }

  blockquote p.ref a::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background: rgba(0, 112, 243, 0.180);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }

  blockquote p.ref a:hover::after {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  blockquote p.ref a {
    font-weight: 400;
  }
}