.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 2rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.listSpace {
    margin-left: 0;
    padding-left: 20px;
}

.lightText {
    color: #666;
}

.labelText {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(158, 135, 133);
    margin-right: 0.4rem;
    padding: 0.2rem 0.3rem;
}

.tag {
    padding: 0.1rem 0.3rem;
    display: inline-block;
    width: 3.6rem;
    text-align: center;
}

.fade_out {
    animation: fadeOut 5s;
    opacity: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.update_disc {
    color: rgb(243, 115, 109);
    prefix: ✻;
}

.canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
